@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
    --color-brand-50: #EEF2FF;
    --color-brand-100: #E0E7FF;
    --color-brand-200: #C7D2FE;
    --color-brand-500: #6366F1;
    --color-brand-600: #4F46E5;
    --color-brand-700: #4338CA;
    --color-brand-800: #3730A3;
    --color-brand-900: #312E81;
}
